div.toasts {
    position: fixed;
    display: flex;
    flex-flow: column-reverse;
    z-index: 2;
    width: 25%;   
    max-width: 30%;
}

div.toasts > * {
    margin-bottom: 1rem;
}

.toasts.top {
    top: 2rem;
}

.toasts.bottom {
    bottom: 2rem;
}

.toasts.left {
    left: 2rem;
}

.toasts.right {
    right: 2rem;
}

.toasts > .alert {
    box-shadow:  10px 18px 41px -5px rgba(0,0,0,0.75);   
}
