.acc {
    border-radius: var(--rad);
    overflow: hidden;
}

.acc>div {
    overflow: hidden;
}

.acc>div>label {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    cursor: pointer;
}

.acc>div>label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transform: rotate(90deg);
    transition: all .35s;
}

.acc>div>div {
    max-height: 0;
    transition: all .35s;
    overflow: auto;
}

.acc>div>input:checked+label::after {
    transform: rotate(-90deg);
}

.acc>div>input:checked~* {
    max-height: 100vh;
}

.acc>div>input:checked~div {
    padding: 1rem;
    border: 2px solid var(--c-b1);
    border-radius: 0 0 var(--rad) var(--rad);
}
