.dark-mode-checkbox:checked ~ * {
  --c-b2: #303742;
  --c-b1: #66758c;
  --c-f1: #d8d7d7;
  --c-f2: #f7f8f9;
  --c-2: #8b7b98;
  --c-bg: var(--c-b2);
  --c-h: var(--c-1);
  --c-a: var(--c-1);
  --sh: 0 0.25rem 1rem rgba(148, 157, 165, 0.27);
}

.dark-mode-label {
  content: "Dark";
}

.dark-mode-label::before {
  content: "\2610  Light";
}

.dark-mode-checkbox:checked ~ * .dark-mode-label::before {
  content: "\2611  Dark";
}
