kbd {
  background-color: var(--c-b1);
  font-size: 1.2rem;
  margin: .7rem;
  padding: .2rem .6rem;
  letter-spacing: .1rem;
  border-radius: var(--rad);
  box-shadow: 4px 3px 7px 0 #777;
  cursor: pointer;
}
