.modal > .overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(160, 160, 160, .843);
  z-index: 10;
}

.modal > input:first-child:checked ~ .overlay .content {
  opacity: 1;
  background-color: var(--c-b2);
  margin: auto 22%;
  padding: 2rem;
  border-radius: var(--rad);
  box-shadow: -7px 40px 298px 200px rgba(66, 66, 66, 1);
}

.modal > input:first-child {
  display: none;
}

.modal > input:first-child:checked ~ .overlay {
  display: flex;
  transition: opacity .2s ease-in;
}

span.button {
  border-radius: var(--rad);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  padding: .7rem 1rem;
  font-size: .87rem;
  text-align: center;
  margin: .15rem;
  border: 2px solid transparent;
  box-shadow: var(--sh);
}

span.button:hover {
  filter: brightness(120%);
}
