span.spinner {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-bottom;
  border-width: .15rem;
  border-style: solid;
  border-right-color: transparent;
  border-radius: 100%;
  background-color: transparent;
  animation: spinner-border .75s linear infinite;
}

.spinner.medium {
  border-width: .3rem;
  width: 3rem;
  height: 3rem;
}

.spinner.large {
  border-width: .4rem;
  width: 5rem;
  height: 5rem;
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}
