h1 {
  font-size: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 350;
  margin-bottom: 1rem;
  margin-top: 1rem;
  letter-spacing: .2rem;
  color: var(--c-h);
}

p {
  margin-bottom: 1.5rem;
}

blockquote {
  border-left: .15rem solid var(--c-b1);
  color: var(--c-f2);
  padding: .5rem .75rem;
  font-style: italic;
  margin-left: 1rem;
}

a {
  color: var(--c-a);
  text-decoration: none;
}

a:focus,
a:hover {
  color: var(--c-a-hover);
}

ul,
ol {
  margin: .5rem;
  padding: 0;
  list-style-position: inside;
}

li {
  margin-top: .4rem;
}

hr {
  border-radius: 1rem;
  border: .01rem solid var(--c-f2);
  margin: .25rem;
}

.meta {
  font-size: 1rem;
  padding-top: .5rem;
  filter: contrast(70%);
}
